.custom-navbar {
  background-color: black;
  border-bottom: 1px solid #222;
}

.logo {
  color: greenyellow !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: greenyellow !important;
}